.venv/
__pycache__/
*.pyc

# Hugging Face cache (optional, but usually a good idea)
~/.cache/huggingface/

# PixelProse subsets
data/**/*

#logs
logs/**/*

#metrics
metrics/**/*

checkpoints/**/*

*.aux
*.fdb_latexmk